.input-txt{
	border: none;
	border-bottom: 1px solid #000;
    outline: none;
    font-size: 1em;
}

/*----------------   LOGIN --------------------*/
.container-login{
	height: 400px;
}

.form form label{
	display: grid;
	grid-template-columns: 2fr 2fr;
}
.form form label{
	margin: 20px 0;
}
/*----------------   LOGIN --------------------*/
/*----------------   Contact ------------------*/
.contact h1.tittle{
    font-size: 1.5em;
}
.contact form label.message{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact{
    width: 90%;
    margin: auto;
}
@media (min-width:750px){
    ._us{
        display: flex;  
    }
    .contact ._us label{
        margin: 0 20px;
    }
    .contact{
        width: 60%;
    }

    .contact form label.message{
        width: 80%;
    }
    .contact input[type="submit"]{
        margin: auto;
        width: 35%;
    }
}   
/*----------------   BLOG --------------------*/

.form-blog{
	width: 90%;
    background: #FFD6C1;
	padding: 20px;
	border-radius: 20px;
}
/* Input type file */
.form-blog .image-select input{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 50px;cursor: pointer;
}

.form-blog .image-select .icon i{
    background: #470048;
    border: 1ps solid #470048;
    font-size: 2em;
    padding: 8px;
    color: #ffF;
    border-radius: 20%;
    transition: all 0.4s;
}

.form-blog .image-select{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;;
    overflow: hidden;
}
/* ******************** */

/* list */
.form-blog ul#list-ingredients,
.form-blog ul#list-ingredients  li 
.form-blog #list-social-input,
.form-blog #list-social-input li{
    width: 100%;
}
.form-blog ul#list-ingredients input[type="text"]{
    width: 85%;
}

/* /*************** */

/* Menú */
.form{
    margin: 70px 0;
    /* font-size: 1.1em; */
}
.form  .select{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form .radio .op{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background: #E0E0E0;
}
.form .radio .op label{
    /* align-self: center; */
    justify-self: center;
}
.form .line label,.form .area{
    display: grid;
    grid-template-columns: 1fr 1fr;
}




@media (min-width:750px){
    .form-send{
        width: 500px;
        margin: auto;
    }
    .form-blog{
        width: 40%;
    }

}

/* Event */
.event{
    font-size: 1.1em;
}

table * {
    height: auto; min-height: none;

}
table {
    background: #F1F2F1;
    table-layout: fixed;
    margin: 1rem auto;
    width: 98%;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.4);
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,.5);
    border-top: 0 none;
    overflow-x: scroll;
    border-collapse: separate;
  border-spacing:  0  15px; 
  }
thead, tfoot {
    background: var(--color-first);
    color: white;
    z-index: 2;
    text-align: center;
}

  thead tr {
    box-shadow: 0 4px 6px rgba(0,0,0,.6);
    z-index: 2;
  }


td {
  
  border-right: 2px solid rgba(0,0,0,.2);
}

@media only screen and (max-width:800px) {
    table {
        position: relative;
      /* border-top: 1px solid ; */
    }
    thead {display: none;}
    tbody {
      height: auto;
      max-height: 55vh;
    }
    tr {
      border-bottom: 2px solid rgba(0,0,0,.35);
    }
    tbody tr:nth-child(odd) {background: #fff;}
    tbody tr:nth-child(even) {background:#FFC7B0;}
    td {
        position: relative;
        display: block;
        padding: .4rem .5rem .4rem 40%;
      border-right: 0 none;
    }
    td:before {
        content: attr(data-campo);
        background: rgba(0,0,0,.1);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        min-width: 37%;
        padding-left: .5rem;
        line-height: 1.8;
    }
    td:nth-child(even) {
      background: rgba(0,0,0,.2);
    }
  }

@media (min-width:750px){
    .event{
        margin: auto;
        width: 50%;
    }
    #error{
        max-width: 600px;
    }
}

@keyframes animation-panel{
    0%{
        top: -500px;
    }
    100%{
        top: 50%;
    }
}